@import "_variables.scss";
@import "_mixins.scss";
@import "_fonts.scss";

.header-big {
    border-left: 6px solid $secondary;
    padding: 0 5px;
    color: white;
}

.header-small {
    border-left: 6px solid $primary;
    padding: 0 5px;
    margin-bottom: 30px;
    text-align: left;
}

.header-smaller{
    border-left: 6px solid $primary;
    padding: 0 5px;
}

.button-primary {
    @include button;
    background-color: $primary;
    color: white !important;
    font-size: 1rem;
}

.button-secondary {
    @include button;
    background-color: $secondary;
    color: #000;
    font-size: 1rem;
}

.button-accent {
    @include button;
    background-color: $accent-1;
    color: white;
    font-size: 1rem;
}

.button-accent-hollow {
    @include button;
    background-color: transparent;
    border: 1px solid $accent-1;
    color: $accent-1;
    font-size: 1rem;
}

.navbar{
    &-brand img{
        max-width: 150px;
    }

    .navbar-toggler{
        outline: none;
        color:  white;
    }

    .nav-link{
        color: white;
        font-size: 0.875rem;

        &:not(:last-child){
            margin-right: 20px;
        }
    }

    .dropdown-toggle::after{
        display: none;
    }
}
.directory-navigation{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    .search-field{
        width: 28%;
        border: 1px solid $accent-3;
        display: flex;
        align-items: center;
        input{
            width: auto;
            padding: 8px 12px;
            border: 0;
            outline: none;
        }
        button{
            background: none;
            border: none;
            outline: none;
            display: inline-block;
        }
    }

    .pagination{
        width: 70%;
        ul{
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
                display: inline;
                a{
                    font-size: 0.8rem;
                    margin: 0;
                }
            }
        }
    }
}

// CALENDAR WIDGET

.widget.calendar{
    border-radius: 4px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    padding: 0;
    overflow: hidden;

    .icalendar{
        border: 0 !important;
        outline: 0 !important;
        margin: 0;
        max-width: unset;
        width: 100%;
    }
}

.icalendar__month{
    background-color: $primary;
    h2#icalendarMonth{
        font-size: 1rem;
        margin: 0;
    }
}

div.icalendar__prev,
div.icalendar__next{
    background: none !important;
}

.icalendar__week-days{
    background: white !important;
    & > div{
        color: $accent-3;
    }
}

.icalendar__days{
    background: white !important;
    .icalendar__today{
        background-color: $primary;
        border-radius: 99999px;
    }
}

.advocacy-calendar{
    width: 100%;
    margin-bottom: 80px;

    .icalendar{
        max-width: unset;
        width: 100%;
    }

    .icalendar__week-days{
        padding: 24px 0;
        & > div{
            font-size: 1rem;
        }
    }

    .icalendar__days{
        padding: 24px 0;
        & > div{
            padding: 12px 0;
            position: relative;
        }
    }

    .icalendar__today{
        background: $accent-2;
    }
}

.modal{

    &-header{
        background-color: $primary;
        color: white;
        
        button.close{
            color: white;
            opacity: 1;
        }
    }

    .modal-dialog{
        max-width: 800px;
        width: 100%;
    }
}