// Merriweather Sans
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
// Lato
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
// Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face{
    font-family: 'MyriadPro';
    src: url('../../fonts/myriadpro.otf');
}

@font-face{
    font-family: 'AvantGarde';
    src: url('../../fonts/avantgarde.ttf');
}

$type-heading: 'Open Sans', Verdana, sans-serif;
$type-body: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;    