@mixin button{
    border-radius: 4px;
    padding: 5px 30px;
    font-family: $type-body;
    font-weight: 400;
    border: 0;
    transition: all 0.2s ease;
    display: inline-block;
    text-align: center;
    &:hover{
        text-decoration: none;
        filter: brightness(0.90);
        color: initial;
    }
}

@mixin line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis !important;
    overflow: hidden;
}

@mixin owlnav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin carouselnav{
    pointer-events: initial;
    align-items: center;
    background: none !important;
    outline: none !important;
    pointer-events: initial;
    transform: translateY(-18px);
}

@mixin centerimage{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
        width: 100%;
    }
}

@mixin  gradientoverlay {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $gradient-blue;
    opacity: 0.2;
    z-index: 0;
    pointer-events: none;
}