$primary: #2B2F78;
$secondary: #FBBD19;

$gradient-blue: linear-gradient(90deg,  #28A9E0 , #2B2F78);
$gradient-yellow: linear-gradient(90deg,  #FCDB6E , #FBBD19);

$accent-1: #28A9E0;
$accent-2: #4C60AC;
$accent-3: #808285;

$neutral-1: #D0D0D0;
$neutral-2: #A7A7A7;

$type-1: #231F20;