@import "_mixins.scss";
@import "_variables.scss";

@media only screen and (max-width: 575px){
    .partner-item{
        flex-direction: column;
        .partner-detail{
            margin-left: 0;
        }
    }

    div.media, div.slide{
        height: 210px !important;
        & > *{
            pointer-events: none;
        }

        div.caption{
            font-size: 1.5rem !important;
        }

        .cta{
            pointer-events: initial !important;
        }
    }
}

@media only screen and (max-width: 767px){

    .opportunity-item:not(:last-child){
        border-bottom: 1px solid $neutral-1;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .opportunity-item > div{
        &:nth-of-type(1):before {
            color: $accent-1;
            content: "Country"; 
        }
        &:nth-of-type(2):before {
            color: $accent-1;
            content: "Category";
        }
        &:nth-of-type(3):before {
            color: $accent-1;
            content: "Opportunities";
        }

        p{
            display: block;
        }
    }

    .type-body-lg{
        font-size: 1rem;
    }

    .eurocham-img {
        margin-bottom: 40px;
    }


    div.slide-detail{
        width: 90% !important;
        max-width: unset !important;

        .caption{
            font-size: 1.4rem !important;
            margin-bottom: 12px !important;
        }

        .cta{
            margin-top: 0 !important;
        }
    }
}

@media only screen and (max-width: 992px){
    .nav-link{
        color: $secondary !important;
    }

    #home-carousel{
        .slide{
            height: 300px;
        }
    }

    .section{
        &.membership{
            display: flex;
            flex-direction: column;
        }

        &.testimonials{
            .testimonials-item{
                padding: 20px;
                flex-direction: column;
            }

            .testimonials-item-content{
                margin: 24px 0;
                text-align: center;
            }
        }
    }

    .services .service-image{
        height: 150px;
        
        img{
            height: auto;
            width: 100%;
        }
    }

    .socials-items a{
        font-size: 1.5rem;
        margin: 0 12px;
    }

    .media{
        height: 300px !important;
    }

    div.slide-detail{
        width: 80% !important;
        max-width: unset !important;

        &.left, &.right{
            left: 50% !important;
            right: unset !important;
            transform: translate(-50%, -50%) !important;
        }

        .caption{
            font-size: 2.5rem !important;
        }
    }
}

@media only screen and (max-width: 1023px){

    .navbar{
        &-collapse{
            .nav-item{
                text-align: right;
                .nav-link{
                    margin: 8px 0;
                    font-weight: 600;
                }
            }
        }

        .navbar-contents{
            background-image: url(../../img/logo-mono-b.png);
            background-position: -200px 50%;
            background-repeat: no-repeat;
            background-blend-mode: screen;
        }

        .dropdown-menu{
            border: 0;
            background: none;
            text-align: right;
            a{
                color: white;
                font-size: 0.9rem;
            }

            a.dropdown-item:hover{
                background: none;
            }
        }
    }

    .slide-detail{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: auto;
        
        &.left,
        &.right{
            transform: initial;
            left: initial;
            right: initial;
            max-width: unset;
        }
    }

    .section{
        &.testimonials{
            .testimonials-item{
                padding: 20px;
                flex-direction: column;
            }

            .testimonials-item-content{
                margin: 24px 0;
                text-align: center;
            }
        }
    }
    
    
    .header-image{
        @include centerimage;
        width: 100%;
        overflow: hidden;
        img{
            height: 100%;
            width: auto;
        }
    }
    

}

@media only screen and (max-width: 1200px){
    .directory-navigation{
        flex-direction: column;
        .search-field{
            width: 100%;

            input{
                width: 100%;
            }
        }

        .pagination{
            width: 100%;
        }
    }

    #home-carousel{
        margin-bottom: 20px;
    }

    .media, .slide{
        height: 400px !important;
    }
}