@import "_variables.scss";
@import "_fonts.scss";
@import "_components.scss";

:root{
    // font-size: 16px;
    // RESPONSIVE TYPESETTING
    // font-size: calc(min + (max - min) * (100vw - min-screen-x / (max-screen-x - min-screen-x));
    font-size: calc(12px + (16px - 14px) * (100vw - 320px / (1920px - 320px)));
    font-family: $type-body;
}


@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: white;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

.navbar-contents {
    background-color: $primary;
}

body {
    p {
        color: $type-1;
        font-size: 1rem;
        font-family: $type-body;
    }

    h1,h2,h3,h4,h5,h6{
        font-family: $type-heading;
        font-weight: 900;
    }
}

.ytp-play-progress {
    color: $primary;    
}

.link-icon{
    font-weight: 600;
    color: $accent-1;
}

.link-more a{
    font-weight: 600;
    color: $accent-1;
    font-size: 1.125rem;
}

.header-image {

    @include centerimage;
    position: relative;
    margin-bottom: 80px;
    height: 300px;
    background-size: cover;
    background-position: center;

    img{
        width: 100%;
    }
    
    h2{
        position: relative;
    }
}

.header-image::before{
    content: " ";
    background: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.text-decoration-none li a {
    text-decoration: none;
}

.content p{
    margin-bottom: 20px;
}

.typography-white {
    color: white;
}

.typography-primary {
    color: $primary;
}

.typography-secondary {
    color: $secondary;
}

.typography-accent-1 {
    color: $accent-1
}

.typography-accent-2 {
    color: $accent-2
}

.typography-accent-3 {
    color: $accent-3;
}

.type-body-lg{
    font-size: 1.3rem;
}

.list-group-item{

    & > div {
        align-items: center;
    }

    a{
        color: $type-1;
    }
}

.mt-5px {
    margin-top: 5px;
}

.mw-30px {
    max-width: 30px !important;
}

.mw-100px {
    max-width: 100px;
}

.mw-200px {
    max-width: 200px;
}

.card-header:first-child {
    border-radius: 4px 4px 0 0;
}

.card {
    border-radius:4px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
}

.card-header-primary-1 {
    background-color: $primary;
    color: white;
    text-align: center;
    
}

.card-header-accent-1 {
    background-color: $accent-1;
    color: white;
    text-align: center;
}

.card-pricing{
    h5{
        font-size: .9rem;
        margin-bottom: 0;
    }
}

.card-price {
    font-weight: bold;
}

.card-opportunities{

    margin-bottom: 20px;

    h4{
        font-size: 1rem;
        margin-bottom: 0;
    }

    .list-group{
        flex-direction: row;
    }

    .list-group-item{
        width: 100%;
    }

    .country-col{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .opportunity-item{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.widget {
    border-radius: 4px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    background: white;
    width: -webkit-fill-available;
    margin-bottom: 16px;

    .event-title{
        margin: 0 0 0 15px;
        overflow: hidden;
        text-overflow: ellipsis !important;
        height: 48px;
        @include line-clamp;
    }

    &.links{
        padding: 12px 24px;
        .list-group-item{
            border: 0;
            padding: 4px 0;
        }
    }
}

.widget-heading {
    color: $primary;
    font-weight: bold;
}

.widget-event-date {
    color: white;
    background-color: $primary;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    max-width: 56px;
    height: 56px;
    
    .month{
        font-size: .8rem;
    }

    .date{
        font-size: 1.2rem;
    }
}

.widget.news {
    .news-date{
        font-size: 0.8rem;
    }

    h4.news-title{
        font-size: 1.125rem !important;
    }

    .news-desc{
        font-size: .8rem;
        a{
            color: $accent-2;
            text-decoration: underline;
        }
    }
}

.widget-news-desc {
    color: $accent-3;
}

.widget-news-desc a {
    color: $accent-2;
    text-decoration: underline;
}

.list-style-none {
    list-style: none;
}

.form-group {
    margin-bottom:20px;
}

.form-group label {
    font-weight: bold;
}

.footer {

    border-top: 1px solid $neutral-1;
    margin-top: 100px;

    & > .container{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-contents {
        padding: 20px;
        text-align: center;
        width: 100%;
        background-color: $primary;
    }
}

#home-carousel{
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin-bottom: 80px;
    margin-top: 10px;

    .slide{
        display: flex;
        align-items: center;
        text-align: center;
        height: 600px;
        position: relative;
        overflow: hidden;
        
        background-size: cover;
        background-position: center;

        // GRADIENT OVERLAY
        &:after{
            @include gradientoverlay;
        }

        .slide-detail{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: auto;
            
            &.left{
                transform: translate(0, -50%);
                left: 40px;
                right: unset;
                max-width: 50%;
            }

            &.right{
                transform: translate(0, -50%);
                left: unset;
                right: 40px;
                max-width: 50%;
            }
        }

        .caption{
            position: relative;
            z-index: 1 !important;
            color: white;
            font-family: $type-heading;
            font-size: 3rem;
            font-weight: 900;
            margin: 0 auto 20px;
            justify-self: left;

            &.left{
                margin: 0 0 0 50px;
            }
        }

        .cta{
            position: relative;
            margin-top: 16px;
            z-index: 1 !important;
        }
    }

    .owl-nav{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 98%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        z-index: 0;
        pointer-events: none;
        
        button{
            font-size: 50px;
            color: white;
            background: none !important;
            outline: none !important;
            pointer-events: initial;
        }

        &.disabled{
            display: none;
        }
    }

    .owl-dots{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        button{
            background: none !important;
            outline: none !important;
        }

        .active span{
            background: $secondary;
        }
    }

    .media{
        position: absolute;
        padding: 0;
        overflow: hidden;
        margin-bottom: 40px;
    
        & > * {
            position: absolute; 
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }

}

#testimonials-carousel{
    margin-bottom: 40px;
}

.media{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    // padding-bottom: 56.25%; /* 16:9 */ 
    padding: 0;
    overflow: hidden;
    margin-bottom: 40px;

    & > * {
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

.section{
    margin-top: 40px;
    margin-bottom: 80px;

    &-header{
        margin-bottom: 40px;
    }
}

.home{
    .our-work{
        margin-bottom: 60px;
        max-width: 1000px;
        text-align: center;
        margin: auto;
    }

    .counter{
        margin: 40px 0 20px;
        h6{
            text-align: center;
            font-family: $type-heading;
            font-size: 4rem;
        }
        p {
            text-align: center;
        }
    }

    .membership{
        text-align: center;

        p{
            max-width: 900px;
            margin: 20px auto 40px;
        }
    }

}

.services{

    &-item{
        margin: 32px 0;
    }

    &-icon{
        height: 64px;
        margin-bottom: 24px;
    }

    .service-image{
        @include centerimage;
        position: relative;
        height: 300px;
        margin-bottom: 30px;
        img{
            height: 100%;
            width: auto;
            transition: all 0.3s ease;
        }

        h4{
            z-index: 1;
            text-align: center;    
            margin: 0;        
        }
    }

    .service-image::before{
        content: " ";
        background: black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

    a.service-link{
        transition: all 0.3s ease;
        &:hover{
            img{
                height: 110%;
            }
        }
    }
}

.home-news{

    &-item{
        margin: 32px 0;
    }

    &-icon{
        height: 64px;
        margin-bottom: 24px;
    }

    .home-news-image{
        @include centerimage;
        position: relative;
        height: 300px;
        margin-bottom: 30px;
        img{
            height: 100%;
            width: auto;
            transition: all 0.3s ease;
        }

        h4{
            z-index: 1;
            text-align: center;    
            margin: 0;        
        }
    }

    .training-item {
        margin-top: 0px;

        h6.training-title{
            font-size: 1rem;
        }

        p.training-datetime{
            font-size: 0.8rem;
            color: $accent-3;
        }
    }

    .news-item {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .news-item-image {
        display: initial;
    }

    // .news-image::before{
    //     content: " ";
    //     background: black;
    //     opacity: 0.5;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     position: absolute;
    // }

    // a.service-link{
    //     transition: all 0.3s ease;
    //     &:hover{
    //         img{
    //             height: 110%;
    //         }
    //     }
    // }
}

.testimonials{

    &-item{
        width: 100%;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        flex-grow: 1;
        padding: 80px;
        margin: 0 auto;

        .pfp-container{
            width: 120px;
            height: 120px;
            border-radius: 99999px;
            overflow: hidden;
            z-index: 1;
        }
    }

    &-item-content{
        max-width: 75%;
        margin-top: 20px;
        z-index: 1;

        p{
            font-size: 2rem;
            font-family: $type-body;
            color: white;
        }
    }

    &-item-name{
        color: white;
        font-size: 1.25rem;
        font-weight: 900;
    }

    &-item-detail{
        color: white
    }

    .owl-stage-outer{
        background-image: url('../../img/testimony-bg.jpg');
        background-size: cover;
        height: 100%;

        &::after{
            @include gradientoverlay;
            opacity: 0.9;
            z-index: 0;
        }

        .owl-stage{
            z-index: 1;
        }
    }

    .owl-nav{
        @include owlnav;

        button{
            @include carouselnav;
            
            span{
                line-height: 1;
                font-size: 4rem;
                color: $primary;
            }
        }
    }
}

.publications{
    &-item-cover{
        width: 100%;
        max-width: 200px;
        margin: 0 auto 24px auto;
        height: 280px;
        background-color: gray;
        border-radius: 4px;
        margin-bottom: 24px;
    }

    &-item{
        margin-bottom: 24px;
    }
}

.partners, .premium{

    margin: 80px 0;

    .owl-nav{
        @include owlnav;

        button{
            @include carouselnav;

            span{
                line-height: 1;
                font-size: 4rem;
                color: $type-1;
            }
        }
    }
}

.socials{
    margin-top: 80px;

    &-items{
        margin: 32px auto;

        a{
            font-size: 2.5rem;
            margin: 0 24px;

            &.facebook{ color: #1877F2 }
            &.linkedin{ color: #0A66C2 }
            &.instagram{ color: #000 }
            &.twitter{ color: #1DA1F2 }
            &.youtube{ color: #FF0000 }
        }

    }
}

.address{
    margin-top: 80px;    
    margin-bottom: 40px;
    &-item{
        margin-bottom: 52px;

        p{
            font-size: 0.8rem;
        }
    }
}

.text-block{
    display: inline-block;
    margin-bottom: 40px;

    h1, h2, h3, h4, h5, h6{
        margin-bottom: 40px;
    }
    
    p{
        margin-bottom: 40px;
        text-align: justify;
    }
}
.online-training-item{
    margin-bottom: 40px;

    .online-training-desc{
        font-size: .8rem;
    }
}

.training-single{
   
    .featured-image{
        width: 100%;
        height: 400px;
        @include centerimage;
        margin-bottom: 40px;
    }
}

.training-item, .partner-item, .event-item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;

    .training-item-image{
        @include centerimage;
    }

    .training-detail, .partner-detail, .event-detail{
        width: 100%;
        display: inline-block;
        margin-left: 20px;

        .training-title, .event-title{
            font-size: 1.2rem;
            color: $primary;
        }
        p{
            font-family: $type-body;
            margin-bottom: 0;
        }
    }

    .partner-image{
        width: 125px;
        height: 125px;
        overflow: hidden;
        display: table;
        img{
            width: 100%;
        }
    }

    .partner-name{
        font-family: $type-heading;
    }
    .partner-position{
        color: $primary;
    }
}

.events-grid a,
.trainings-grid a{
    text-decoration: none;
}

.video-gallery {
    width: 100%;
    margin-bottom: 10px
}

.testimonial-item{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .testimonial-image{
        height: 100px;
        border-radius: 99999px;
        // overflow: hidden;
        display: table;

        img{
            width: 100%;
        }
    }

    .testimonial-detail{
        margin-left: 20px;

        .testimonial-content{
            font-size: 1.2rem;
            font-weight: 400;
            font-family: $type-body;
        }

        .testimonial-name{
            font-family: $type-heading;
            font-size: 1.125rem;
        }
        .testimonial-position{
            font-size: 0.9rem;
            color: $accent-2;
            margin-left: 8px;
            margin-top: 3px;
        }
    }
}

.faq-question{
    margin: 40px 0;
}

.date-filter{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    h4{
        margin:0
    }

    input{
        margin-left: 12px;
    }
}

.news-item{
    margin-bottom: 40px;

    &-image{
        @include centerimage;
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

    p{
        margin: 0;
        font-family: $type-body;
    }
    a{
        font-family: $type-body;
        color: $accent-2;
        text-decoration: underline;
    }

    &-title{
        @include line-clamp;
        max-height: 60px;
        line-height: 1.3;
    }

    &-date{
        font-size: 0.9rem;
        font-weight: 600;
    }

    &-excerpt{
        @include line-clamp;
        height: 48px;
        color: $accent-3;
    }
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;

    span{
        color: $neutral-2;
        margin-right: 16px;
    }

    a{
        color: $neutral-2;

        &:not(last-child){
            margin-right: 16px;
        }

        &.active{
            font-weight: 600;
            color: $primary;
            text-decoration: underline;
        }
    }
}

.publications-grid{
    .publications-item{
        &-cover{
            height: 360px;
            max-width: 260px;
            margin: 0 auto 20px;
        }
    }
}

.news-single{
    .featured-image{
        @include centerimage;
        margin-bottom: 40px;
    }

    &-details{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        p{
            color: $accent-3;
        }

        p:not(:last-of-type)::after{
            content: "\2022";
            margin: 0 12px;
        }
    }
}

.image-spacing{
    margin-bottom: 20px;
}

.center-dynamic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eurocham-container {

    @include centerimage;
    position: relative;
    margin-bottom: 80px;
    background-size: cover;
    background-position: center;
    background-image: url('../../img/eurocham.jpg');
    padding-top: 100px;
    padding-bottom: 100px;

    img{
        width: 100%;
    }
    
    h2{
        position: relative;
    }

    .eurocham-img {
        max-width: 320px;
    }
}

.eurocham-container::after {
    @include gradientoverlay;
    opacity: 0.7;
}

.eurocham-content {
    z-index: 3;

    p{
        font-size: 1.3rem;
    }
}

.eurocham-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.flex-container {
    width: 100%;
    // max-width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    .partner-logo{
        @include centerimage;
        height: 100%;
        img{
            height: auto;
            max-width: 300px;
            padding: 0 24px;
        }
    }
 }

 .partners{
     .partner-logo{
         height: 200px;
     }
 }

 .premium{
     .partner-logo{
         height: 100%;
         padding: 0 20px;
         @include centerimage;
     }
 }

 .counter-item {
    // width: 100px;
    // background: green;
    margin: 10px;   
    flex: 1 0 24%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
 }

 .partner-item{
     p{
        //  font-weight: 600;
         margin: 0;
     }
 }

 .flexbox-partner {
    // width: 100px;
    // background: green;
    margin: 10px;
    flex: 1 0 30%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
 }