<html>
    <head>
        {% include "../partials/_head.njk" %}
    </head>
    <body class="{{ body_class }}">
        <div class="container-fluid">
            <nav class="navbar p-0 row sticky-top">
                {% include '../partials/_navbar.njk'%}
            </nav>
            
            <div class="row">
                 <div class="col-lg-12 px-0">
                    {% block header %}
                    {% endblock %}
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-3">
                        {% block sidebar %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <footer class="footer">
                {% include '../partials/_footer.njk'%}
            </footer>
        </div>


        {% include "../partials/_extrascripts.njk" %}        
    </body>
</html> 