{% extends "../templates/base.njk" %}
{# {% extends "../partials/_widget-about.njk" %} #}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/about-header.jpg)">
    <div class="container">
        <h2 class="header-big">Contact Us</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<h3 class="header-small">Contact Us</h3>

{% include "../partials/_inquiry-form.njk" %} 
{% endblock %}


{% block sidebar %}
{% include '../partials/_widget-about.njk'%}


{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
