{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/about-header.jpg)">
    <div class="container">
        <h2 class="header-big">Advocacy</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<h3 class="header-small">Overview</h3>

<div class="text-block">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>
</div>

<h3 class="header-small mt-5">Committee Meetings Calendar</h3>

<div class="advocacy-calendar">
    {% include "../partials/_widget-calendar.njk" %}
</div>

<h3 class="header-small mt-5">Video Gallery</h3>
<div class="row">
    <div class="col-md-4">
        <iframe class="video-gallery" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor.</p>
    </div>
    <div class="col-md-4">
        <iframe class="video-gallery" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor.</p>
    </div>
    <div class="col-md-4">
        <iframe class="video-gallery" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor.</p>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-advocacy.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}

