{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/membership-header.jpg)">
    <div class="container">
        <h2 class="header-big">Annual Partners</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<h3 class="header-small mt-5">Corporate Partners</h3>
<div class="row">
    <div class="col-md-4">
        <div class="partner-item"><img src="https://dummyimage.com/255x158/b8b8b8/000000.png"></div>
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit.</p>
    </div>
    <div class="col-md-4">
        <div class="partner-item"><img src="https://dummyimage.com/255x158/b8b8b8/000000.png"></div>
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit.</p>
    </div>
    <div class="col-md-4">
        <div class="partner-item"><img src="https://dummyimage.com/255x158/b8b8b8/000000.png"></div>
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="partner-item"><img src="https://dummyimage.com/255x158/b8b8b8/000000.png"></div>
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit.</p>
    </div>
    <div class="col-md-4">
        <div class="partner-item"><img src="https://dummyimage.com/255x158/b8b8b8/000000.png"></div>
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit.</p>
    </div>
    <div class="col-md-4">
        <div class="partner-item"><img src="https://dummyimage.com/255x158/b8b8b8/000000.png"></div>
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit.</p>
    </div>
</div>

<h3 class="header-small mt-5">Premium Partners</h3>
<div class="row">
    <div class="col-md-4">
        <div class="partner-item"><img src="https://dummyimage.com/255x158/b8b8b8/000000.png"></div>
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit.</p>
    </div>
    <div class="col-md-4">
        <div class="partner-item"><img src="https://dummyimage.com/255x158/b8b8b8/000000.png"></div>
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit.</p>
    </div>
    <div class="col-md-4">
        <div class="partner-item"><img src="https://dummyimage.com/255x158/b8b8b8/000000.png"></div>
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit.</p>
    </div>
</div>
{% endblock %}


{% block sidebar %}
{% include '../partials/_widget-membership.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
