{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/about-header.jpg)">
    <div class="container">
        <h2 class="header-big">ECCP Business Council</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<h3 class="header-small">Business Council Heads</h3>
<div class="row">
    <div class="col-md-3">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-3">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-3">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-3">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
</div>


<h3 class="header-small mt-5">Overview</h3>

<div class="text-block">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>   
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <button class="button-accent my-3" data-toggle="modal" data-target="#inquiryModal">Inquire Now</button>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-about.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}

