{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/servivces-header.png)">
    <div class="container">
        <h2 class="header-big">Services</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<h3 class="header-small">Business Opportunities</h3>
<div class="row">
    <div class="col-md-12">
        <div class="card card-opportunities">
            <div class="d-none d-md-block card-header card-header-primary-1">
                <div class="row">
                    <div class="col-md-3"><h4 class="text-left">Country</h4></div>
                    <div class="col-md-4"><h4 class="text-left">Category</h4></div>
                    <div class="col-md-5"><h4 class="text-left">Opportunities</h4></div>
                </div>
            </div>
            <div class="card-body py-0">
                <div class="opportunity-item row">
                    <div class="col-12 col-md-3 country-col">
                        <img class="mw-30px m-1" src="https://www.countryflags.io/ph/flat/64.png">
                        <p class="m-0">Philippines</p>
                    </div>
                    <div class="col-12 col-md-4 category-col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-12 col-md-5 opportunity-col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="opportunity-item row">
                    <div class="col-12 col-md-3 country-col">
                        <img class="mw-30px m-1" src="https://www.countryflags.io/ph/flat/64.png">
                        <p class="m-0">Philippines</p>
                    </div>
                    <div class="col-12 col-md-4 category-col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-12 col-md-5 opportunity-col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="opportunity-item row">
                    <div class="col-12 col-md-3 country-col">
                        <img class="mw-30px m-1" src="https://www.countryflags.io/ph/flat/64.png">
                        <p class="m-0">Philippines</p>
                    </div>
                    <div class="col-12 col-md-4 category-col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-12 col-md-5 opportunity-col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="opportunity-item row">
                    <div class="col-12 col-md-3 country-col">
                        <img class="mw-30px m-1" src="https://www.countryflags.io/ph/flat/64.png">
                        <p class="m-0">Philippines</p>
                    </div>
                    <div class="col-12 col-md-4 category-col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="col-12 col-md-5 opportunity-col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <button class="button-accent my-3" data-toggle="modal" data-target="#inquiryModal">Inquire Now</button>
    </div>
</div>

{% include "../partials/_modal-inquiry.njk" %}
{% endblock %}


{% block sidebar %}
{% include '../partials/_widget-services.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
