{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/about-header.jpg)">
    <div class="container">
        <h2 class="header-big">Advocacy Committees</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <a href="individual-committees.html"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></a>
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
</div>

{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-advocacy.njk'%}
{% include '../partials/_widget-calendar.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}