{% extends "../templates/base.njk" %}
{# {% extends "../partials/_widget-about.njk" %} #}

{% block header %}
    <div class="header-image" style="background-image:url(../src/assets/img/contactus-header.png)">
        <div class="container">
            <h2 class="header-big">Contact Us</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h3 class="header-small">Contact Us</h3>

    {% include "../partials/_inquiry-form.njk" %}

    <div class="row address">
        <div class="col-12 col-md-6">
            <div class="address-item">
                <h6>ECCP Metro Manila</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vehicula turpis sodales eu. Nam convallis</p>
                <iframe width="100%" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJbTgmYNLIlzMR0HiSrNoj7V8&key=AIzaSyABROffni8g5gOjpQgnQAscHuqBh0CRgGY" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="address-item">
                <h6>ECCP Metro Manila</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vehicula turpis sodales eu. Nam convallis</p>
                <iframe width="100%" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJbTgmYNLIlzMR0HiSrNoj7V8&key=AIzaSyABROffni8g5gOjpQgnQAscHuqBh0CRgGY" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="address-item">
                <h6>ECCP Metro Manila</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vehicula turpis sodales eu. Nam convallis</p>
                <iframe width="100%" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJbTgmYNLIlzMR0HiSrNoj7V8&key=AIzaSyABROffni8g5gOjpQgnQAscHuqBh0CRgGY" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="address-item">
                <h6>ECCP Metro Manila</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vehicula turpis sodales eu. Nam convallis</p>
                <iframe width="100%" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJbTgmYNLIlzMR0HiSrNoj7V8&key=AIzaSyABROffni8g5gOjpQgnQAscHuqBh0CRgGY" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="address-item">
                <h6>ECCP Metro Manila</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vehicula turpis sodales eu. Nam convallis</p>
                <iframe width="100%" height="100" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJbTgmYNLIlzMR0HiSrNoj7V8&key=AIzaSyABROffni8g5gOjpQgnQAscHuqBh0CRgGY" allowfullscreen="allowfullscreen"></iframe>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include '../partials/_widget-contact.njk'%}
    <div class="row">
        <div class="col-12">
            <a href="#" class="button-secondary mb-2 w-100">Become a Member</a><br>
        </div>
        <div class="col-12">
            <a href="#" class="button-primary mb-2 w-100">Join Advocacy</a>
        </div>
    </div>
    {% include '../partials/_widget-events.njk'%}
    {% include '../partials/_widget-news.njk'%}
{% endblock %}