{% extends "../templates/no-sidebar.njk" %}
{# {% extends "../partials/_widget-about.njk" %} #}

{% block header %}`
<div class="header-image" style="background-image:url(../src/assets/img/events-header.png)">
    <div class="container">
        <h2 class="header-big">Upcoming Events</h2> {# or Past Events (Same Template) #}
    </div>
</div>
{% endblock %}


{% block content %}

<div class="row events-grid">
    <div class="col-12 col-lg-6">
        <a href="trainings-single.html">
            <div class="training-item">
                <div class="trainings-item-image">
                    <img src="https://dummyimage.com/200x150/000/fff" alt="">
                </div>
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Event Type</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-lg-6">
        <a href="trainings-single.html">
            <div class="training-item">
                <div class="trainings-item-image">
                    <img src="https://dummyimage.com/200x150/000/fff" alt="">
                </div>
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Event Type</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-lg-6">
        <a href="trainings-single.html">
            <div class="training-item">
                <div class="trainings-item-image">
                    <img src="https://dummyimage.com/200x150/000/fff" alt="">
                </div>
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Event Type</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-lg-6">
        <a href="trainings-single.html">
            <div class="training-item">
                <div class="trainings-item-image">
                    <img src="https://dummyimage.com/200x150/000/fff" alt="">
                </div>
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Event Type</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-lg-6">
        <a href="trainings-single.html">
            <div class="training-item">
                <div class="trainings-item-image">
                    <img src="https://dummyimage.com/200x150/000/fff" alt="">
                </div>
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Event Type</p>
                </div>
            </div>
        </a>
    </div>

</div>
{% endblock %}