{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/news-header.png)">
    <div class="container">
        <h2 class="header-big">FAQs</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<h3 class="header-small">Frequently Asked Questions</h3>

<div class="faq-question">
    <h4>1. Question? </h4>
    <div class="text-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>
    </div>
</div>
<div class="faq-question">
    <h4>2. Question? </h4>
    <div class="text-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>
    </div>
</div>
<div class="faq-question">
    <h4>3. Question? </h4>
    <div class="text-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>
    </div>
</div>
<div class="faq-question">
    <h4>4. Question? </h4>
    <div class="text-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>
    </div>
</div>


{% endblock %}


{% block sidebar %}
{% include '../partials/_widget-news-links.njk'%}
<div class="row">
    <div class="col-12">
        <a href="#subscription-form" class="button-accent mb-2 w-100">Subscribe to our Newsletter</a><br>
    </div>
</div>
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
