<html>
    <head>
        {% include "../partials/_head.njk" %}
    </head>
    <body class="home">
        <div class="container-fluid">
            <nav class="navbar p-0 row sticky-top">
                {% include '../partials/_navbar.njk'%}
            </nav>
            <div class="row">
                {# CAROUSEL TYPE #}
                <div class="owl-carousel owl-theme" id="home-carousel">
                    <div class="item slide">
                        <div class="container">
                            <div class="media">
                                <!-- any media -->
                                <video controls="false" autoplay="autoplay" loop="loop" muted="muted">
                                    <source src="../src/assets/img/promo-video.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                    <div class="item slide">
                        <div class="container">
                            <div class="slide-detail left">
                                <!-- caption placement on left -->
                                <div class="caption">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                                <button class="cta button-accent">
                                    Button Accent
                                </button>
                            </div>
                            <div class="media">
                                <!-- any media -->
                                <img src="../src/assets/img/service-projects.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="item slide">
                        <div class="container">
                            <div class="slide-detail right">
                                <!-- caption placement on right -->
                                <div class="caption">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                </div>
                                <button class="cta button-primary">
                                    Button Primary
                                </button>
                            </div>
                            <div class="media">
                                <!-- any media -->
                                <img src="../src/assets/img/about-header.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                {# STATIC #}
                {# <div class="w-100">
                    <!-- USE ANY TYPE OF MEDIA -->
                    <div class="media">
                        <video controls="false" autoplay="autoplay" loop muted >
                            <source src="../src/assets/img/promo-video.mp4" type="video/mp4">
                        </video>
                    </div>
                </div> #}
            </div>

            {# ABOUT SECTION #}
            <div class="container">
                <div class="row section">
                    <div class="col-12 align-center">
                        <h5 class="section-header typography-primary text-center">OUR WORK</h5>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="our-work">
                            <p class="text-center mb-4 type-body-lg">Through its strong relationship with the government, the ECCP - Eurocham Philippines is able to support member companies by facilitating market access and ensuring a level playing field for both European and Filipino companies alike.</p>

                            <p class="text-center mb-4 type-body-lg">The ECCP's 20 sector committees convene to discuss cross-cutting and specific issues, listing key recommendations on actions needed to support market access for European businesses and enable long term economic welfare for the Philippines. Here are some of our advocacy wins throughout 2020.</p>
                        </div>
                        <div class="counter">
                            <div class="row">
                                <div class="flex-container">
                                    <div class="counter-item">
                                        <div class="text-center">
                                            <img src="../src/assets/img/advo.png">
                                            <h6 class="typography-primary">20</h6>
                                            <p>Advocacy Committees</p>
                                        </div>
                                    </div>
                                    <div class="counter-item">
                                        <div class="text-center">
                                            <img src="../src/assets/img/signed.png">
                                            <h6 class="typography-primary">49</h6>
                                            <p>Signed & Co-signed Position Papers</p>
                                        </div>
                                    </div>
                                    <div class="counter-item">
                                        <div class="text-center">
                                            <img src="../src/assets/img/engage.png">
                                            <h6 class="typography-primary">99</h6>
                                            <p>Engagements with the Government</p>
                                        </div>
                                    </div>
                                    {# <div class="counter-item">
                                        <div class="text-center">
                                            <img src="../src/assets/img/engage.png">
                                            <h6 class="typography-primary">99</h6>
                                            <p>Engagements with the Government</p>
                                        </div>
                                    </div> #}
                                    <div class="counter-item">
                                        <div class="text-center">
                                            <img src="../src/assets/img/webin.png">
                                            <h6 class="typography-primary">120</h6>
                                            <p>Webinars and Traininhgs</p>
                                        </div>
                                    </div>
                                    <div class="counter-item">
                                        <div class="text-center">
                                            <img src="../src/assets/img/media.png">
                                            <h6 class="typography-primary">150</h6>
                                            <p>Media Engagements</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <center>
                                    <a href="advocacy.html" class="button-accent my-4 px-5">Know More</a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {# TESTIMONIAL SLIDER #}
            <div class="row section testimonials">
                <div class="col-12 align-center">
                    <div class="row">
                        <h5 class="section-header typography-primary text-center w-100">OUR MEMBER STORIES</h5>
                    </div>
                    <div class="row">
                        <div class="owl-carousel owl-theme" id="testimonials-carousel">
                            <div class="testimonials-item">
                                <div class="pfp-container">
                                    <img src="../src/assets/img/Yves.png">
                                </div>
                                <div class="testimonials-item-content">
                                    <p>
                                        “Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accumsan at urna eu elementum. Sed lacinia mauris in imperdiet tincidunt.Sed lacinia mauris in imperdiet tincidunt. “
                                    </p>
                                    <h6 class="testimonials-item-name">Max Mustermann, 86</h6>
                                    <span class="testimonials-item-detail">Sydney, NSW</span>
                                    <div class="row">
                                        <div class="w-100 text-center">
                                            <a href="member-stories.html" class="button-accent my-4 px-5">Continue to Member Stories</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonials-item">
                                <div class="pfp-container">
                                    <img src="../src/assets/img/Yves.png">
                                </div>
                                <div class="testimonials-item-content">
                                    <p>
                                        “Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accumsan at urna eu elementum. Sed lacinia mauris in imperdiet tincidunt.Sed lacinia mauris in imperdiet tincidunt. “
                                    </p>
                                    <h6 class="testimonials-item-name">Juan dela Cruz, 26</h6>
                                    <span class="testimonials-item-detail">Davao City, Philippines</span>
                                    <div class="row">
                                        <div class="w-100 text-center">
                                            <a href="member-stories.html" class="button-accent my-4 px-5">Continue to Member Stories</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                {# SERVICES SECTION  #}
                <div class="row section">
                    <div class="col-12 align-center">
                        <h5 class="section-header typography-primary text-center">OUR SERVICES</h5>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-4 services" ">
                            <a href="services.html" class="service-link">
                                <div class="service-image">
                                    <img src="../src/assets/img/service-get-started.jpg" alt="">
                                    <h4 class="center-dynamic typography-white">Get Started In the Philippines</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 services">
                            <a href="events-management.html" class="service-link">
                                <div class="service-image">
                                    <img src="../src/assets/img/service-events.jpg" alt="">
                                    <h4 class="center-dynamic typography-white">Events Management</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 services">
                            <a href="projects.html" class="service-link">
                                <div class="service-image">
                                    <img src="../src/assets/img/service-projects.jpg" alt="">
                                    <h4 class="center-dynamic typography-white">Projects</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 services">
                            <a href="business-opportunities.html" class="service-link">
                                <div class="service-image">
                                    <img src="../src/assets/img/service-business-opportunities.jpg" alt="">
                                    <h4 class="center-dynamic typography-white">Business Opportunities</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 services">
                            <a href="trade-fairs.html" class="service-link">
                                <div class="service-image">
                                    <img src="../src/assets/img/service-international.jpg" alt="">
                                    <h4 class="center-dynamic typography-white">International Trade Fairs</h4>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 services">
                            <a href="" class="service-link">
                                <div class="service-image">
                                    <img src="../src/assets/img/service-advertising.jpg" alt="">
                                    <h4 class="center-dynamic typography-white">Advertising</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                {# EVENTS AND NEWS SECTIONS #}
                    <div class="row section home-news">
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="section-header typography-primary text-left">EUROPH NEWS</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="news-item">
                                    <div class="news-item-image">
                                        <img src="../src/assets/img/news-1.jpg" alt="">
                                </a>
                                    </div>
                                    <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
                                    <a href="news-single.html">Read More</a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="news-item">
                                    <div class="news-item-image">
                                        <img src="../src/assets/img/news-2.jpg" alt="">
                                    </div>
                                    <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
                                    <a href="news-single.html">Read More</a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="news-item">
                                    <div class="news-item-image">
                                        <img src="../src/assets/img/news-3.jpg" alt="">
                                    </div>
                                    <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
                                    <a href="news-single.html">Read More</a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="news-item">
                                    <div class="news-item-image">
                                        <img src="../src/assets/img/news-4.jpg" alt="">
                                    </div>
                                    <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
                                    <a href="news-single.html" class="w-100 text-right">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="row link-more">
                            <div class="col text-right">
                                <a href="events-list.html" class="text-right">Read More News</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="section-header typography-primary text-left">UPCOMING EVENTS & TRAININGS</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="training-item">
                                    <img src="https://dummyimage.com/150x100/b8b8b8/000000.png">
                                    <div class="training-detail">
                                        <h6 class="training-title mb-2">Virtual Roundtable: Women's Economic Empowerment in the Time of COVID-19</h6>
                                        <p class="training-datetime"><i class="fas fa-map-marker-alt"></i>&nbsp;Virtual Roundtable</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="training-item">
                                    <img src="https://dummyimage.com/150x100/b8b8b8/000000.png">
                                    <div class="training-detail">
                                        <h6 class="training-title mb-2">Virtual Roundtable: Women's Economic Empowerment in the Time of COVID-19</h6>
                                        <p class="training-datetime"><i class="fas fa-map-marker-alt"></i>&nbsp;Virtual Roundtable</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="training-item">
                                    <img src="https://dummyimage.com/150x100/b8b8b8/000000.png">
                                    <div class="training-detail">
                                        <h6 class="training-title mb-2">Virtual Roundtable: Women's Economic Empowerment in the Time of COVID-19</h6>
                                        <p class="training-datetime"><i class="fas fa-map-marker-alt"></i>&nbsp;Virtual Roundtable</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="training-item">
                                    <img src="https://dummyimage.com/150x100/b8b8b8/000000.png">
                                    <div class="training-detail">
                                        <h6 class="training-title mb-2">Virtual Roundtable: Women's Economic Empowerment in the Time of COVID-19</h6>
                                        <p class="training-datetime"><i class="fas fa-map-marker-alt"></i>&nbsp;Virtual Roundtable</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row link-more">
                            <div class="col text-right">
                                <a href="events-list.html" class="text-right">View More Events</a>
                            </div>
                        </div>
                    </div>
                </div>

                </div> 
                {# MEMBERSHIP SECTION  #}
                <div class="row section membership">
                    <div class="col-12 align-center">
                        <div class="row">
                            <h5 class="section-header typography-primary text-center w-100">BE PART OF THE ECCP - EUROCHAM PHILIPPINES</h5>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row eurocham-container">
                            <div class="eurocham-content">
                                <div class="row">
                                    <div class="col-md-7 col-12 order-2 order-md-1">
                                        <div class="eurocham-text">
                                            <h4 class="typography-white">Our strength lies in the diversity network.</h4>
                                            <p class="typography-white">Meet and exchange views with over 800 local and foreign senior business executives that are active in various businesses and social activities each year in Manila, Cebu, Clark, Cagayan De Oro, and Davao.</p>
                                            <a href="eccp-team.html" class="button-accent mb-4 mx-2">Meet Our Members</a>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-12 order-1 order-md-2">
                                        <img class="eurocham-img" src="../src/assets/img/ECCP Offices Map.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                {# CORPORATE PARTNERS CAROUSEL #}
                <div class="row section partners">
                    <div class="col-12">
                        <h5 class="section-header typography-primary text-center">Corporate Partners</h5>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="flex-container">
                                <div class="partner-item">
                                    <div class="text-center">
                                        <p>TECHNOLOGY PARTNER</p>
                                        <div class="partner-logo">
                                            <img src="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="partner-item">
                                    <div class="text-center">
                                        <p>AIRLINE PARTNER</p>
                                        <div class="partner-logo">
                                             <img src="https://cdn.vox-cdn.com/thumbor/p01ezbiuDHgRFQ-htBCd7QxaYxo=/0x105:2012x1237/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="partner-item">
                                    <div class="text-center">
                                        <p>DESIGN & BUILD PARTNER</p>
                                        <div class="partner-logo">
                                            <img src="https://www.freelogodesign.org/Content/img/logo-samples/flooop.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="partner-item">
                                    <div class="text-center">
                                        <p>INNOVATIONS PARTNER</p>
                                        <div class="partner-logo">
                                            <img src="https://cdn.logo.com/hotlink-ok/logo-social.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="partner-item">
                                    <div class="text-center">
                                        <p>COMMUNICATIONS PARTNER</p>
                                        <div class="partner-logo">
                                            <img src="https://cdn.mos.cms.futurecdn.net/gS5HJ7VtoHAmVhkXYbUZo4-1200-80.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    {# <div class="col-12">
                        <div class="owl-carousel owl-theme" id="partners-carousel">
                            <div class="partner-logo">
                                
                            </div>
                            <div class="partner-logo">
                            </div>
                            <div class="partner-logo">
                                
                            </div>
                            <div class="partner-logo">
                                
                            </div>
                            <div class="partner-logo">
                                <img src="https://cdn.mos.cms.futurecdn.net/gS5HJ7VtoHAmVhkXYbUZo4-1200-80.jpg" alt="">
                            </div>
                            <div class="partner-logo">
                                
                            </div>
                            <div class="partner-logo">
                                <img src="https://logos-world.net/wp-content/uploads/2020/04/Puma-Logo.png" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://cdn.vox-cdn.com/thumbor/p01ezbiuDHgRFQ-htBCd7QxaYxo=/0x105:2012x1237/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg" alt="">
                            </div>
                        </div>
                    </div> #}
                </div>

            </div>

            <div class="container-fluid">
                {# PREMIUM MEMBERS CAROUSEL #}
                <div class="row section premium">
                    <div class="col-12">
                        <h5 class="section-header typography-primary text-center">Premium Members</h5>
                    </div>
                    <div class="col-12">
                        <div class="owl-carousel owl-theme" id="premium-carousel">
                            <div class="partner-logo">
                                <img src="https://www.freelogodesign.org/Content/img/logo-samples/flooop.png" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://cdn.vox-cdn.com/thumbor/p01ezbiuDHgRFQ-htBCd7QxaYxo=/0x105:2012x1237/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://cdn.logo.com/hotlink-ok/logo-social.png" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://cdn.mos.cms.futurecdn.net/gS5HJ7VtoHAmVhkXYbUZo4-1200-80.jpg" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://cdn.vox-cdn.com/thumbor/p01ezbiuDHgRFQ-htBCd7QxaYxo=/0x105:2012x1237/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://logos-world.net/wp-content/uploads/2020/04/Puma-Logo.png" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://cdn.vox-cdn.com/thumbor/p01ezbiuDHgRFQ-htBCd7QxaYxo=/0x105:2012x1237/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://www.freelogodesign.org/Content/img/logo-samples/flooop.png" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://i.pinimg.com/originals/33/b8/69/33b869f90619e81763dbf1fccc896d8d.jpg" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://cdn.vox-cdn.com/thumbor/p01ezbiuDHgRFQ-htBCd7QxaYxo=/0x105:2012x1237/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg" alt="">
                            </div>
                            <div class="partner-logo">
                                <img src="https://cdn.logo.com/hotlink-ok/logo-social.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">

                {# SOCIALS #}
                <div class="row section socials">
                    <div class="col-12">
                        <h5 class="section-header typography-primary text-center mb-2">Follow Us</h5>
                    </div>
                    <div class="socials-items">
                        <a href="" class="facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="" class="linkedin">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="" class="instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="" class="twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <footer class="footer">
            {% include '../partials/_footer.njk'%}
        </footer>

        {% include "../partials/_extrascripts.njk" %}
    </body>
</html>