{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/about-header.jpg)">
    <div class="container">
        <h2 class="header-big">Advocacy Committees</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<h3 class="header-small">Automotive Committee</h3>

<div class="text-block">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>
</div>

<h3 class="header-small mt-5">Committee Leaders</h3>
<div class="row">
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
</div>

<h3 class="header-small mt-5">Policy Paper / Materials Published</h3>
<div class="publications-grid">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
            <a href="#" class="publications-item">
                <div class="publications-item-cover">
                    <img src="" alt="">
                </div>
                <button class="button-accent-hollow w-100 mb-4">Download</button>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <a href="#" class="publications-item">
                <div class="publications-item-cover">
                    <img src="" alt="">
                </div>
                <button class="button-accent-hollow w-100 mb-4">Download</button>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <a href="#" class="publications-item">
                <div class="publications-item-cover">
                    <img src="" alt="">
                </div>
                <button class="button-accent-hollow w-100 mb-4">Download</button>
            </a>
        </div>
    </div>
</div>

<h3 class="header-small mt-5">Government Response to Policy Papers</h3>
<div class="text-block">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>
</div>

<h3 class="header-small mt-5">Committee Coordinator Details </h3>
<div class="row">
    <div class="col-md-4">
        <img src="https://dummyimage.com/158x158/b8b8b8/000000.png">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-left px-0">
        <button class="btn button-primary my-2">Join Advocacy</button>
    </div>
</div>


{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-advocacy.njk'%}
{% include '../partials/_widget-calendar.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}

