{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/membership-header.jpg)">
    <div class="container">
        <h2 class="header-big">Membership Directory</h2>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="directory-navigation">
    <div class="search-field">
        <input type="text" class="text">
        <button><i class="fas fa-search"></i></button>
    </div>
    <div class="pagination">
        <ul>
            <li><a href="#">All</a></li>
            <li><a href="#">#</a></li>
            <li><a href="#">A</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">D</a></li>
            <li><a href="#">E</a></li>
            <li><a href="#">F</a></li>
            <li><a href="#">G</a></li>
            <li><a href="#">H</a></li>
            <li><a href="#">I</a></li>
            <li><a href="#">J</a></li>
            <li><a href="#">K</a></li>
            <li><a href="#">L</a></li>
            <li><a href="#">M</a></li>
            <li><a href="#">N</a></li>
            <li><a href="#">O</a></li>
            <li><a href="#">P</a></li>
            <li><a href="#">Q</a></li>
            <li><a href="#">R</a></li>
            <li><a href="#">S</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">U</a></li>
            <li><a href="#">V</a></li>
            <li><a href="#">W</a></li>
            <li><a href="#">X</a></li>
            <li><a href="#">Y</a></li>
            <li><a href="#">Z</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        <div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
        
    </div>
</div>

<h3 class="header-small mt-5">Member Login</h3>

<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="username">USERNAME</label>
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="password">PASSWORD</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-right">
            <button class="button-secondary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}


{% block sidebar %}
{% include '../partials/_widget-membership.njk'%}
<div class="row">
    <div class="col-12">
        <a href="#subscription-form" class="button-secondary mb-2 w-100">Become a Member</a>
    </div>
</div>
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
