{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/membership-header.jpg)">
    <div class="container">
        <h2 class="header-big">Membership Benefits</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<h3 class="header-small">Member Benefits</h3>

<div class="text-block">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. Donec erat dui, euismod a rutrum a, vulputate non diam. Nullam ullamcorper lectus eu turpis pretium, ac blandit ex laoreet. In hac habitasse platea dictumst. Etiam vel porta quam. Ut ac facilisis eros. Duis sem erat, bibendum nec eros vel, gravida gravida lacus. Maecenas nisl mauris, dictum vitae lorem at, mollis tincidunt ligula. Maecenas elementum nibh velit.</p>

    <p>Sed aliquam eu tortor vitae tincidunt. Maecenas sodales ut diam vitae varius. Nullam a leo quis lectus lobortis semper vel at orci. Mauris pharetra eu leo ut feugiat. Aenean maximus ipsum et venenatis iaculis. Etiam ac lectus tempor, malesuada diam a, scelerisque nulla. Suspendisse nec luctus mauris.</p>

    <p>Maecenas eros diam, consectetur vel ullamcorper in, mollis nec mauris. Aenean pharetra venenatis turpis at blandit. Suspendisse faucibus, odio ut convallis ornare, ipsum magna tempor ipsum, vel feugiat justo leo ac felis. Morbi pulvinar tortor felis, vel tincidunt turpis iaculis a. Vivamus tristique, ante consequat fringilla rutrum, nunc nisi ultricies sem, ac euismod arcu mauris vitae magna. Cras fermentum quam sit amet orci venenatis scelerisque. Donec vitae erat sed augue porttitor auctor.</p>

    <p>Nulla venenatis sollicitudin elit in maximus. Nunc ut dui venenatis, bibendum lacus vitae, vulputate felis. Fusce iaculis erat ac arcu viverra posuere. Suspendisse in eleifend augue. Nullam at placerat ante, et vulputate risus. Nunc id ullamcorper sapien. Maecenas diam enim, ultricies eget est eleifend, auctor pretium ipsum. Nunc ornare aliquam augue, sed dictum urna vulputate vitae. Sed euismod massa eget risus pellentesque, non cursus dui porttitor. Aliquam in aliquam mauris, eu viverra augue. Nunc laoreet condimentum lorem, et tempor metus pulvinar nec. Donec et tellus vitae lectus viverra dignissim. Praesent imperdiet ultricies sapien fringilla ullamcorper. Fusce id ante turpis.</p>

    <p>enim ultrices erat ornare gravida. Praesent id lectus et arcu tempor fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer dapibus lorem ac nisl consectetur interdum. Proin nec tortor finibus, euismod neque eget, elementum odio. Mauris tempor feugiat risus sed commodo. Aenean justo ipsum, consequat vitae nibh vel, laoreet sagittis nibh. Morbi eleifend velit id justo interdum, sit amet commodo est congue. Nunc nibh nibh, maximus vel iaculis eget, sagittis sit amet nisi. Praesent pretium augue sodales, tincidunt velit eu, accumsan tellus. Cras tristique neque id ultrices imperdiet. Vestibulum maximus tortor sit amet metus vulputate, ac gravida metus sollicitudin. Vivamus non nibh ante. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

</div>
{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-membership.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
