{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/membership-header.jpg)">
    <div class="container">
        <h2 class="header-big">Become a Member</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<h3 class="header-small">Membership Categories</h3>
<div class="row">
    <div class="col-md-6">
        <div class="card card-pricing">
            <div class="card-header card-header-primary-1">
                <h5>Regular Membership</h5>
            </div>
            <div class="card-body">
                <p class="card-text">European equity (companies) or European nationality (individuals) is required.</p>
                <p class="card-text">Regular membership also extends to Foreign-based companies, individuals or organizations.</p>
                <p class="card-text">Only regular members are eligible for election into the ECCP Board of Directors</p>
            </div>
        </div>
    </div>
        <div class="col-md-6">
        <div class="card card-pricing">
            <div class="card-header card-header-primary-1">
                <h5>Associate Membership</h5>
            </div>
            <div class="card-body">
                <p class="card-text">All other companies, individuals, or organizations with European business interests are eligible.</p>
            </div>
        </div>
    </div>
</div>

<h3 class="header-small mt-5">Membership Rates</h3>
<h4 class="typography-primary my-4">Regular Membership (with European Equity)</h4>
<div class="row">
    <div class="col-md-6">
        <div class="card card-pricing">
            <div class="card-header card-header-accent-1">
                <h5>Companies (Manila)</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <p class="card-price">PhP 5,000.00</p>
                        <p class="typography-accent-3">Entrance Fee</p>
                    </div>
                    <div class="col-md-6  text-center">
                        <p class="card-price">PhP 42,000.00</p>
                        <p class="typography-accent-3">Annual Dues</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn button-secondary my-2 px-5">Apply Membership</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-pricing">
            <div class="card-header card-header-accent-1">
                <h5>Regional Companies (Clark, Cebu, Davao, CDO)</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <p class="card-price">PhP 5,000.00</p>
                        <p class="typography-accent-3">Entrance Fee</p>
                    </div>
                    <div class="col-md-6  text-center">
                        <p class="card-price">PhP 42,000.00</p>
                        <p class="typography-accent-3">Annual Dues</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn button-secondary my-2 px-5">Apply Membership</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="typography-primary my-4">Associate Membership (without European Equity)</h4>
<div class="row">
    <div class="col-md-6">
        <div class="card card-pricing">
            <div class="card-header card-header-accent-1">
                <h5>Companies (Manila)</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="card-price">PhP 42,000.00</p>
                        <p class="typography-accent-3">Annual Dues</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn button-secondary my-2 px-5">Apply Membership</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-pricing">
            <div class="card-header card-header-accent-1">
                <h5>Regional Companies (Clark, Cebu, Davao, CDO)</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <p class="card-price">PhP 3,000.00</p>
                        <p class="typography-accent-3">Entrance Fee</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <p class="card-price">PhP 14,000.00</p>
                        <p class="typography-accent-3">Annual Dues</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn button-secondary my-2 px-5">Apply Membership</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="typography-primary my-4">Foreign-based</h4>
<div class="row">
    <div class="col-md-6">
        <div class="card card-pricing">
            <div class="card-header card-header-accent-1">
                <h5>Companies</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="card-price">EUR € 750.00</p>
                        <p class="typography-accent-3">Annual Dues</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn button-secondary my-2 px-5">Apply Membership</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-pricing">
            <div class="card-header card-header-accent-1">
                <h5>Individuals</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="card-price">EUR € 750.00</p>
                        <p class="typography-accent-3">Annual Dues</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn button-secondary my-2 px-5">Apply Membership</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="typography-primary my-4">Individual Membership</h4>
<div class="row">
    <div class="col-md-6">
        <div class="card card-pricing">
            <div class="card-header card-header-accent-1">
                <h5>Companies (Manila)</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <p class="card-price">PhP 5,000.00</p>
                        <p class="typography-accent-3">Entrance Fee</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <p class="card-price">PhP 42,000.00</p>
                        <p class="typography-accent-3">Annual Dues</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn button-secondary my-2 px-5">Apply Membership</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-pricing">
            <div class="card-header card-header-accent-1">
                <h5>Regional Companies (Clark, Cebu, Davao, CDO)</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <p class="card-price">PhP 3,000.00</p>
                        <p class="typography-accent-3">Entrance Fee</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <p class="card-price">PhP 14,000.00</p>
                        <p class="typography-accent-3">Annual Dues</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn button-secondary my-2 px-5">Apply Membership</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="header-small mt-5">Application Steps</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. Donec erat dui, euismod a rutrum a, vulputate non diam. Nullam ullamcorper lectus eu turpis pretium, ac blandit ex laoreet. In hac habitasse platea dictumst. Etiam vel porta quam. Ut ac facilisis eros. Duis sem erat, bibendum nec eros vel, gravida gravida lacus. Maecenas nisl mauris, dictum vitae lorem at, mollis tincidunt ligula. Maecenas elementum nibh velit.</p>
<div class="row">
    <div class="col-lg-12 text-center">
        <center><a href="#" class="button-secondary my-4 px-5">Apply Now</a></center>
    </div>
</div>
{% endblock %}


{% block sidebar %}
{% include '../partials/_widget-membership.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
