{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/news-header.png)">
    <div class="container">
        <h2 class="header-big">Weekly Newsletters</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="date-filter">
    <h4>Date</h4>
    <input type="date" name="newsDate" id="newsDate">
</div>

<div class="row">
    <div class="col-12 col-lg-4">
        <div class="news-item">
            <div class="news-item-image">
                <img src="https://dummyimage.com/200x150/000/fff">
            </div>
            <h4 class="news-item-title">News(letter) Item Title</h4>
            <p class="news-item-date">December 09, 2020</p>
            <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
            <a href="news-single.html">Read More</a>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="news-item">
            <div class="news-item-image">
                <img src="https://dummyimage.com/200x150/000/fff">
            </div>
            <h4 class="news-item-title">News(letter) Item Title</h4>
            <p class="news-item-date">December 09, 2020</p>
            <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
            <a href="news-single.html">Read More</a>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="news-item">
            <div class="news-item-image">
                <img src="https://dummyimage.com/200x150/000/fff">
            </div>
            <h4 class="news-item-title">News(letter) Item Titl asdase</h4>
            <p class="news-item-date">December 09, 2020</p>
            <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
            <a href="news-single.html">Read More</a>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="news-item">
            <div class="news-item-image">
                <img src="https://dummyimage.com/200x150/000/fff">
            </div>
            <h4 class="news-item-title">News(letter) Item Title</h4>
            <p class="news-item-date">December 09, 2020</p>
            <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
            <a href="news-single.html">Read More</a>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="news-item">
            <div class="news-item-image">
                <img src="https://dummyimage.com/200x150/000/fff">
            </div>
            <h4 class="news-item-title">News(letter) Item Title</h4>
            <p class="news-item-date">December 09, 2020</p>
            <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
            <a href="news-single.html">Read More</a>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="news-item">
            <div class="news-item-image">
                <img src="https://dummyimage.com/200x150/000/fff">
            </div>
            <h4 class="news-item-title">News(letter) Item Title</h4>
            <p class="news-item-date">December 09, 2020</p>
            <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
            <a href="news-single.html">Read More</a>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="news-item">
            <div class="news-item-image">
                <img src="https://dummyimage.com/200x150/000/fff">
            </div>
            <h4 class="news-item-title">News(letter) Item Title</h4>
            <p class="news-item-date">December 09, 2020</p>
            <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
            <a href="news-single.html">Read More</a>
        </div>
    </div>
</div>

<div class="row">
    {% include "../partials/_widget-pagination.njk" %}
</div>

{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-news-links.njk'%}
<div class="row">
    <div class="col-12">
        <a href="#subscription-form" class="button-accent mb-2 w-100">Subscribe to our Newsletter</a><br>
    </div>
</div>
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
