{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/news-header.png)">
    <div class="container">
        <h2 class="header-big">News/Newsletter</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<h3 class="header-small">Newsletter Title</h3>

<div class="news-single">
    <div class="featured-image">
        <img src="https://dummyimage.com/800x200/000/fff">
    </div>

    <div class="news-single-details">
        <p>January 1, 2021</p>
        <p>Juan dela Cruz</p>
        <p>Annoucements</p>
    </div>

    <div class="text-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. Donec erat dui, euismod a rutrum a, vulputate non diam. Nullam ullamcorper lectus eu turpis pretium, ac blandit ex laoreet. In hac habitasse platea dictumst. Etiam vel porta quam. Ut ac facilisis eros. Duis sem erat, bibendum nec eros vel, gravida gravida lacus. Maecenas nisl mauris, dictum vitae lorem at, mollis tincidunt ligula. Maecenas elementum nibh velit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. Donec erat dui, euismod a rutrum a, vulputate non diam. Nullam ullamcorper lectus eu turpis pretium, ac blandit ex laoreet. In hac habitasse platea dictumst. Etiam vel porta quam. Ut ac facilisis eros. Duis sem erat, bibendum nec eros vel, gravida gravida lacus. Maecenas nisl mauris, dictum vitae lorem at, mollis tincidunt ligula. Maecenas elementum nibh velit.</p>
    </div>
</div>

{% endblock %}


{% block sidebar %}
{% include '../partials/_widget-news-links.njk'%}
<div class="row">
    <div class="col-12">
        <a href="#subscription-form" class="button-accent mb-2 w-100">Subscribe to our Newsletter</a><br>
    </div>
</div>
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
