{% extends "../templates/no-sidebar.njk" %}
{# {% extends "../partials/_widget-about.njk" %} #}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/trainings-header.png)">
    <div class="container">
        <h2 class="header-big">Online Trainings</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<h3 class="header-small">Watch Online Trainings</h3>

<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="online-training-item">
            <iframe width="100%" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h6 class="online-training-title my-2">Training Title</h6>
            <p class="online-training-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit, </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="online-training-item">
            <iframe width="100%" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h6 class="online-training-title my-2">Training Title</h6>
            <p class="online-training-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit, </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="online-training-item">
            <iframe width="100%" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h6 class="online-training-title my-2">Training Title</h6>
            <p class="online-training-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit, </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="online-training-item">
            <iframe width="100%" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h6 class="online-training-title my-2">Training Title</h6>
            <p class="online-training-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit, </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="online-training-item">
            <iframe width="100%" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h6 class="online-training-title my-2">Training Title</h6>
            <p class="online-training-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit, </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="online-training-item">
            <iframe width="100%" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h6 class="online-training-title my-2">Training Title</h6>
            <p class="online-training-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit, </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="online-training-item">
            <iframe width="100%" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h6 class="online-training-title my-2">Training Title</h6>
            <p class="online-training-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit, </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="online-training-item">
            <iframe width="100%" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h6 class="online-training-title my-2">Training Title</h6>
            <p class="online-training-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit, </p>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="online-training-item">
            <iframe width="100%" src="https://www.youtube.com/embed/nWwpyclIEu4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h6 class="online-training-title my-2">Training Title</h6>
            <p class="online-training-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vel vehicula turpis sodales eu. Nam convallis tempor elit, </p>
        </div>
    </div>
</div>
{% endblock %}