{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/news-header.png)">
    <div class="container">
        <h2 class="header-big">Publications</h2> {# OR LATEST NEWS (USES THE SAME TEMPLATE) #}
    </div>
</div>
{% endblock %}


{% block content %}
<div class="date-filter">
    <h4>Date</h4>
    <input type="date" name="newsDate" id="newsDate">
</div>

<div class="publications-grid">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
            <a href="#" class="publications-item">
                <div class="publications-item-cover">
                    <img src="" alt="">
                </div>
                <button class="button-accent-hollow w-100 mb-4">Download</button>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <a href="#" class="publications-item">
                <div class="publications-item-cover">
                    <img src="" alt="">
                </div>
                <button class="button-accent-hollow w-100 mb-4">Download</button>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <a href="#" class="publications-item">
                <div class="publications-item-cover">
                    <img src="" alt="">
                </div>
                <button class="button-accent-hollow w-100 mb-4">Download</button>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <a href="#" class="publications-item">
                <div class="publications-item-cover">
                    <img src="" alt="">
                </div>
                <button class="button-accent-hollow w-100 mb-4">Download</button>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <a href="#" class="publications-item">
                <div class="publications-item-cover">
                    <img src="" alt="">
                </div>
                <button class="button-accent-hollow w-100 mb-4">Download</button>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <a href="#" class="publications-item">
                <div class="publications-item-cover">
                    <img src="" alt="">
                </div>
                <button class="button-accent-hollow w-100 mb-4">Download</button>
            </a>
        </div>
    </div>
</div>

<div class="row">
    {% include "../partials/_widget-pagination.njk" %}
</div>

{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-news-links.njk'%}
<div class="row">
    <div class="col-12">
        <a href="#subscription-form" class="button-accent mb-2 w-100">Subscribe to our Newsletter</a><br>
    </div>
</div>
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
