{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/servivces-header.png)">
    <div class="container">
        <h2 class="header-big">Get Started in the Philippines</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<h3 class="header-small">Business Services Overview</h3>

<div class="row">
    <div class="col-md-12 text-center">
        <button class="button-primary my-5 mx-3">Business Development</button>
        <button class="button-accent my-5 mx-3">Business and Technical</button>

    </div>
</div>

<div class="text-block">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. Donec erat dui, euismod a rutrum a, vulputate non diam. Nullam ullamcorper lectus eu turpis pretium, ac blandit ex laoreet. In hac habitasse platea dictumst. Etiam vel porta quam. Ut ac facilisis eros. Duis sem erat, bibendum nec eros vel, gravida gravida lacus. Maecenas nisl mauris, dictum vitae lorem at, mollis tincidunt ligula. Maecenas elementum nibh velit.</p>

    <p>Nulla venenatis sollicitudin elit in maximus. Nunc ut dui venenatis, bibendum lacus vitae, vulputate felis. Fusce iaculis erat ac arcu viverra posuere. Suspendisse in eleifend augue. Nullam at placerat ante, et vulputate risus. Nunc id ullamcorper sapien. Maecenas diam enim, ultricies eget est eleifend, auctor pretium ipsum. Nunc ornare aliquam augue, sed dictum urna vulputate vitae. Sed euismod massa eget risus pellentesque, non cursus dui porttitor. Aliquam in aliquam mauris, eu viverra augue. Nunc laoreet condimentum lorem, et tempor metus pulvinar nec. Donec et tellus vitae lectus viverra dignissim. Praesent imperdiet ultricies sapien fringilla ullamcorper. Fusce id ante turpis.</p>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <button class="button-accent my-3" data-toggle="modal" data-target="#inquiryModal">Inquire Now</button>
    </div>
</div>

{% include "../partials/_modal-inquiry.njk" %}
{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-services.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
