{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/servivces-header.png)">
    <div class="container">
        <h2 class="header-big">Services</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<h3 class="header-small mb-5">Business & Technical Support</h3>

<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <<div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <<div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <<div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <<div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <<div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <button class="button-accent my-3" data-toggle="modal" data-target="#inquiryModal">Inquire Now</button>
    </div>
</div>

{% include "../partials/_modal-inquiry.njk" %}
{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-services.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}