{% extends "../templates/base.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/servivces-header.png)">
    <div class="container">
        <h2 class="header-big">International Trade Fairs</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<h3 class="header-small">Fairs & More Inc.</h3>

<div class="text-block">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum ipsum id iaculis hendrerit. Nullam imperdiet faucibus ultrices. Suspendisse pretium odio nisl, eu consequat lectus auctor sed. Ut consectetur, risus commodo commodo mattis, nulla ex dignissim dui, quis faucibus leo lectus et leo. Vestibulum non mollis turpis. Nulla at purus non arcu commodo convallis vel in nulla. Quisque non venenatis lectus. Maecenas faucibus tortor leo sodales dapibus. Proin tristique augue magna, vitae semper lacus volutpat ac. Vivamus urna lectus, iaculis ut rutrum vel, suscipit non metus. </p>
</div>

<h3 class="header-small mt-5">Trade Fairs Calendar</h3>
<div class="advocacy-calendar">
    {% include "../partials/_widget-calendar.njk" %}
</div>

<h3 class="header-small mt-5">Organizers</h3>
<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
    </div>
    <div class="col-md-9">
        <div class="text-block">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. <p>
        </div>
    </div>
</div>

<h3 class="header-small mt-5">Trade Fairs Updates and News</h3>
<div class="row">
    <div class="col-12 col-lg-4">
        <div class="news-item">
            <div class="news-item-image">
                <img src="https://dummyimage.com/200x150/000/fff">
            </div>
            <h4 class="news-item-title">Leading Successful Coaching Partnerships</h4>
            <p class="news-item-date">December 09, 2020</p>
            <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
            <a href="news-single.html">Read More</a>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="news-item">
            <div class="news-item-image">
                <img src="https://dummyimage.com/200x150/000/fff">
            </div>
            <h4 class="news-item-title">Leading Successful Coaching Partnerships</h4>
            <p class="news-item-date">December 09, 2020</p>
            <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
            <a href="news-single.html">Read More</a>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="news-item">
            <div class="news-item-image">
                <img src="https://dummyimage.com/200x150/000/fff">
            </div>
            <h4 class="news-item-title">Leading Successful Coaching Partnerships</h4>
            <p class="news-item-date">December 09, 2020</p>
            <p class="news-item-excerpt">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums vitae ante suscipit ullamcorper.</p>
            <a href="news-single.html">Read More</a>
        </div>
    </div>
</div>

<h3 class="header-small mt-5">International Trade Fair Officer</h3>
<div class="row">
    <div class="col-md-4">
        <div class="image-spacing"><img src="https://dummyimage.com/158x158/b8b8b8/000000.png"></div>
        <h4>Name</h4>
        <p class="typography-accent-2">Name</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <button class="button-accent my-3" data-toggle="modal" data-target="#inquiryModal">Inquire Now</button>
    </div>
</div>

{% include "../partials/_modal-inquiry.njk" %}
{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-services.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}

