{% extends "../templates/no-sidebar.njk" %}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/trainings-header.png)">
    <div class="container">
        <h2 class="header-big">Training Testimonials</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="testimonial-item">
            <img class="testimonial-image" src="https://dummyimage.com/100x100/b8b8b8/000000.png">
            <div class="testimonial-detail">
                <p class="testimonial-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                <div class="d-flex">
                    <h4 class="testimonial-name">Name</h4>
                    <p class="testimonial-position">Detail</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="testimonial-item">
            <img class="testimonial-image" src="https://dummyimage.com/100x100/b8b8b8/000000.png">
            <div class="testimonial-detail">
                <p class="testimonial-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                <div class="d-flex">
                    <h4 class="testimonial-name">Name</h4>
                    <p class="testimonial-position">Detail</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="testimonial-item">
            <img class="testimonial-image" src="https://dummyimage.com/100x100/b8b8b8/000000.png">
            <div class="testimonial-detail">
                <p class="testimonial-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                <div class="d-flex">
                    <h4 class="testimonial-name">Name</h4>
                    <p class="testimonial-position">Detail</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="testimonial-item">
            <img class="testimonial-image" src="https://dummyimage.com/100x100/b8b8b8/000000.png">
            <div class="testimonial-detail">
                <p class="testimonial-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                <div class="d-flex">
                    <h4 class="testimonial-name">Name</h4>
                    <p class="testimonial-position">Detail</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="testimonial-item">
            <img class="testimonial-image" src="https://dummyimage.com/100x100/b8b8b8/000000.png">
            <div class="testimonial-detail">
                <p class="testimonial-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                <div class="d-flex">
                    <h4 class="testimonial-name">Name</h4>
                    <p class="testimonial-position">Detail</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="testimonial-item">
            <img class="testimonial-image" src="https://dummyimage.com/100x100/b8b8b8/000000.png">
            <div class="testimonial-detail">
                <p class="testimonial-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                <div class="d-flex">
                    <h4 class="testimonial-name">Name</h4>
                    <p class="testimonial-position">Detail</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="testimonial-item">
            <img class="testimonial-image" src="https://dummyimage.com/100x100/b8b8b8/000000.png">
            <div class="testimonial-detail">
                <p class="testimonial-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                <div class="d-flex">
                    <h4 class="testimonial-name">Name</h4>
                    <p class="testimonial-position">Detail</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="testimonial-item">
            <img class="testimonial-image" src="https://dummyimage.com/100x100/b8b8b8/000000.png">
            <div class="testimonial-detail">
                <p class="testimonial-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                <div class="d-flex">
                    <h4 class="testimonial-name">Name</h4>
                    <p class="testimonial-position">Detail</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="testimonial-item">
            <img class="testimonial-image" src="https://dummyimage.com/100x100/b8b8b8/000000.png">
            <div class="testimonial-detail">
                <p class="testimonial-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                <div class="d-flex">
                    <h4 class="testimonial-name">Name</h4>
                    <p class="testimonial-position">Detail</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="testimonial-item">
            <img class="testimonial-image" src="https://dummyimage.com/100x100/b8b8b8/000000.png">
            <div class="testimonial-detail">
                <p class="testimonial-content">“Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                <div class="d-flex">
                    <h4 class="testimonial-name">Name</h4>
                    <p class="testimonial-position">Detail</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <h4 class="typography-primary">Become an ECCP Member!</h4>
        <center><a href="#" class="button-secondary my-4 px-5">Apply Now</a></center>
    </div>
</div>
{% endblock %}


{% block sidebar %}
{% include '../partials/_widget-trainings-links.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
