{% extends "../templates/base.njk" %}
{# {% extends "../partials/_widget-about.njk" %} #}

{% block header %}
    <div class="header-image" style="background-image:url(../src/assets/img/trainings-header.png)">
        <div class="container">
            <h2 class="header-big">Trainings Inquiry</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
<h3 class="header-small">Inquire</h3>

    
{% include "../partials/_inquiry-form.njk" %}
{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-trainings-links.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}