{% extends "../templates/no-sidebar.njk" %}
{# {% extends "../partials/_widget-about.njk" %} #}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/trainings-header.png)">
    <div class="container">
        <h2 class="header-big">Upcoming Trainings</h2> {# or Past Trainings (Same Template) #}
    </div>
</div>
{% endblock %}


{% block content %}

<div class="row trainings-grid">
    <div class="col-12 col-lg-6">
       <a href="trainings-single.html">
            <div class="training-item">
                <img src="https://dummyimage.com/180x100/b8b8b8/000000.png">
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Training Type</p>
                </div>
            </div>
       </a>
    </div>
     <div class="col-12 col-lg-6">
       <a href="trainings-single.html">
            <div class="training-item">
                <img src="https://dummyimage.com/180x100/b8b8b8/000000.png">
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Training Type</p>
                </div>
            </div>
       </a>
    </div>
     <div class="col-12 col-lg-6">
       <a href="trainings-single.html">
            <div class="training-item">
                <img src="https://dummyimage.com/180x100/b8b8b8/000000.png">
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Training Type</p>
                </div>
            </div>
       </a>
    </div>
     <div class="col-12 col-lg-6">
       <a href="trainings-single.html">
            <div class="training-item">
                <img src="https://dummyimage.com/180x100/b8b8b8/000000.png">
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Training Type</p>
                </div>
            </div>
       </a>
    </div>
     <div class="col-12 col-lg-6">
       <a href="trainings-single.html">
            <div class="training-item">
                <img src="https://dummyimage.com/180x100/b8b8b8/000000.png">
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Training Type</p>
                </div>
            </div>
       </a>
    </div>
     <div class="col-12 col-lg-6">
       <a href="trainings-single.html">
            <div class="training-item">
                <img src="https://dummyimage.com/180x100/b8b8b8/000000.png">
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Training Type</p>
                </div>
            </div>
       </a>
    </div>
     <div class="col-12 col-lg-6">
       <a href="trainings-single.html">
            <div class="training-item">
                <img src="https://dummyimage.com/180x100/b8b8b8/000000.png">
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Training Type</p>
                </div>
            </div>
       </a>
    </div>
     <div class="col-12 col-lg-6">
       <a href="trainings-single.html">
            <div class="training-item">
                <img src="https://dummyimage.com/180x100/b8b8b8/000000.png">
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Training Type</p>
                </div>
            </div>
       </a>
    </div>
     <div class="col-12 col-lg-6">
       <a href="trainings-single.html">
            <div class="training-item">
                <img src="https://dummyimage.com/180x100/b8b8b8/000000.png">
                <div class="training-detail">
                    <h6 class="training-title my-2">Leading Successful Coaching Partnerships</h6>
                    <p class="training-datetime">Jan 01, 2021<span> - </span>10:00 AM</p>
                    <p class="training-type">Training Type</p>
                </div>
            </div>
       </a>
    </div>
</div>
{% endblock %}