{% extends "../templates/base.njk" %}
{# {% extends "../partials/_widget-about.njk" %} #}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/trainings-header.png)">
    <div class="container">
        <h2 class="header-big">Partner Facilitators</h2>s
    </div>
</div>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-12">
        <div class="partner-item">
            <div class="partner-image">
                <img src="../src/assets/img/Yves.png">
            </div>
            <div class="partner-detail">
                <h6 class="partner-name my-2">Name Name</h6>
                <p class="partner-position">Facilitator</p>
                <p class="partner-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. </p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="partner-item">
            <div class="partner-image">
                <img src="../src/assets/img/Yves.png">
            </div>
            <div class="partner-detail">
                <h6 class="partner-name my-2">Name Name</h6>
                <p class="partner-position">Facilitator</p>
                <p class="partner-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. </p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="partner-item">
            <div class="partner-image">
                <img src="../src/assets/img/Yves.png">
            </div>
            <div class="partner-detail">
                <h6 class="partner-name my-2">Name Name</h6>
                <p class="partner-position">Facilitator</p>
                <p class="partner-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. </p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="partner-item">
            <div class="partner-image">
                <img src="../src/assets/img/Yves.png">
            </div>
            <div class="partner-detail">
                <h6 class="partner-name my-2">Name Name</h6>
                <p class="partner-position">Facilitator</p>
                <p class="partner-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. </p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="partner-item">
            <div class="partner-image">
                <img src="../src/assets/img/Yves.png">
            </div>
            <div class="partner-detail">
                <h6 class="partner-name my-2">Name Name</h6>
                <p class="partner-position">Facilitator</p>
                <p class="partner-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. </p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="partner-item">
            <div class="partner-image">
                <img src="../src/assets/img/Yves.png">
            </div>
            <div class="partner-detail">
                <h6 class="partner-name my-2">Name Name</h6>
                <p class="partner-position">Facilitator</p>
                <p class="partner-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include '../partials/_widget-trainings-links.njk'%}
{% include '../partials/_widget-events.njk'%}
{% include '../partials/_widget-news.njk'%}
{% endblock %}
