{% extends "../templates/no-sidebar.njk" %}
{# {% extends "../partials/_widget-about.njk" %} #}

{% block header %}
<div class="header-image" style="background-image:url(../src/assets/img/trainings-header.png)">
    <div class="container">
        <h2 class="header-big">Training</h2>
    </div>
</div>
{% endblock %}


{% block content %}
<h3 class="header-small">Training Title (Template for both Past and Current)</h3>

<div class="training-single">
    <div class="featured-image">
        <img src="../src/assets/img/about-header.jpg" alt="">
    </div>

    <div class="text-block">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. Donec erat dui, euismod a rutrum a, vulputate non diam. Nullam ullamcorper lectus eu turpis pretium, ac blandit ex laoreet. In hac habitasse platea dictumst. Etiam vel porta quam. Ut ac facilisis eros. Duis sem erat, bibendum nec eros vel, gravida gravida lacus. Maecenas nisl mauris, dictum vitae lorem at, mollis tincidunt ligula. Maecenas elementum nibh velit.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. Donec erat dui, euismod a rutrum a, vulputate non diam. Nullam ullamcorper lectus eu turpis pretium, ac blandit ex laoreet. In hac habitasse platea dictumst. Etiam vel porta quam. Ut ac facilisis eros. Duis sem erat, bibendum nec eros vel, gravida gravida lacus. Maecenas nisl mauris, dictum vitae lorem at, mollis tincidunt ligula. Maecenas elementum nibh velit.</p>
        
        <h6 class="text-center">Registration and Details</h6>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare nisi tristique sem ornare, at consectetur nulla placerat. Mauris enim metus, posuere tincidunt laoreet vel, convallis ut arcu. Etiam placerat eu ligula sed dignissim. Integer odio sapien, mattis nec ex sollicitudin, scelerisque semper leo. Donec erat dui, euismod a rutrum a, vulputate non diam. Nullam ullamcorper lectus eu turpis pretium, ac blandit ex laoreet. In hac habitasse platea dictumst. Etiam vel porta quam. Ut ac facilisis eros. Duis sem erat, bibendum nec eros vel, gravida gravida lacus. Maecenas nisl mauris, dictum vitae lorem at, mollis tincidunt ligula. Maecenas elementum nibh velit.</p>

        <center><a href="#" class="button-accent">Register Now</a></center>

    </div>
</div>
{% endblock %}