<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h5 class="section-header typography-primary">Contact</h5>

            <h6>ECCP Metro Manila</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vehicula turpis sodales eu. Nam convallis</p>

            <h6>ECCP Cebu</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vehicula turpis sodales eu. Nam convallis</p>

            <h6>ECCP Davao</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vehicula turpis sodales eu. Nam convallis</p>

            <h6>ECCP Cagayan de Oro</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vehicula turpis sodales eu. Nam convallis</p>

            <h6>ECCP Clark</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis sem orci, vehicula turpis sodales eu. Nam convallis</p>
        </div>
        <div class="col-lg-3">
            <h5 class="section-header typography-primary">Sitemap</h5>
            {# <ul class="list-style-none">
                <li>Events</li>
                <li>Latest News</li>
                <li>Careers</li>
            </ul>   #}
            <p>Events</p>
            <p>Latest News</p>
            <p>Careers</p>
        </div>
        <div class="col-lg-5">
            <h5 class="section-header typography-primary">Subscribe to our mailing list</h5>
            <form id="subscription-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">FIRST NAME</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Juan">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">LAST NAME</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Dela Cruz">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="userEmail">EMAIL ADDRESS</label>
                            <input type="email" class="form-control" id="userEmail" placeholder="jdc@eccp.com">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="position">POSITION</label>
                            <input type="text" class="form-control" id="position" placeholder="Director">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="company"></label>
                            <input type="text" class="form-control" id="company" placeholder="ECCP">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="interest">INTEREST</label>
                            <select class="form-control" id="interest">
                                <option>Select Option</option>
                                <option>Select Option</option>
                                <option>Select Option</option>
                                <option>Select Option</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="font-weight-bold">ARE YOU AN ECCP MEMBER?</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="member" id="eccpYes" value="Yes" checked>
                            <label class="form-check-label" for="eccpYes">Yes</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="member" id="eccpNo" value="No">
                            <label class="form-check-label" for="eccpNo">No</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="member" id="eccpNoInfo" value="No, please send me more information">
                            <label class="form-check-label" for="eccpNoInfo">No, please send me more information</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn button-secondary mt-5">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="footer-contents">
    <div class="container">
        <p class="my-0 typography-white">Copyright &copy; 2020 All rights reserved to the European Chamber of Commerce of the Philippines</p>
    </div>
</div>    