<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="firstName">FIRST NAME</label>
                <input type="text" class="form-control" id="firstName" placeholder="Juan">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lastName">LAST NAME</label>
                <input type="text" class="form-control" id="lastName" placeholder="Dela Cruz">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="userEmail">EMAIL ADDRESS</label>
                <input type="email" class="form-control" id="userEmail" placeholder="jdc@eccp.com">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="position">POSITION</label>
                <input type="text" class="form-control" id="position" placeholder="Director">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="company"></label>
                <input type="text" class="form-control" id="company" placeholder="ECCP">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="message">MESSAGE</label>
                <textarea class="form-control" id="message" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn button-secondary">Submit</button>
        </div>
    </div>
</form>