<div class="navbar-contents nav-fill w-100">
    <nav class="navbar navbar-expand-lg container">
        <a class="navbar-brand" href="index.html"><img class="logo" src="../src/assets/img/logo.png" alt="ECCP logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="about.html" data-toggle="dropdown">
                    About
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="about.html">About the ECCP</a></li>
                        <li><a class="dropdown-item" href="board-of-directors.html">Board of Directors</a></li>
                        <li><a class="dropdown-item" href="business-council.html">Business Council</a></li>
                        <li><a class="dropdown-item" href="eccp-team.html">Meet the ECCP Team</a></li>
                        <li><a class="dropdown-item" href="network.html">Network</a></li>
                        <li><a class="dropdown-item" href="about-contact-us.html">Contact Us</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="membership.html" data-toggle="dropdown">
                    Membership
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="membership.html">Member Benefits</a></li>
                        <li><a class="dropdown-item" href="membership-rates.html">Become a Member</a></li>
                        <li><a class="dropdown-item" href="annual.html">Annual Partners</a></li>
                        <li><a class="dropdown-item" href="member-stories.html">Member Stories</a></li>
                        <li><a class="dropdown-item" href="membership-directory.html">Membership Directory</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="advocacy.html" data-toggle="dropdown">
                    Advocacy
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="advocacy.html">Advocacy</a></li>
                        <li><a class="dropdown-item" href="committees.html">Committees</a></li>
                        <li><a class="dropdown-item" href="join-advocacy.html">Join Advocacy Committee</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="services.html" data-toggle="dropdown">
                    Services
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="services.html">Get Started in the Philippines</a></li>
                        <li><a class="dropdown-item" href="business-opportunities.html">Business Opportunities</a></li>
                        <li><a class="dropdown-item" href="events-management.html">Events Management</a></li>
                        <li><a class="dropdown-item" href="trade-fairs.html">International Trade Fairs</a></li>
                        <li><a class="dropdown-item" href="projects.html">Projects</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="events-list.html" data-toggle="dropdown">
                    Events
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="events-list.html">Upcoming Events</a></li>
                        <li><a class="dropdown-item" href="events-list.html">Past Events</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="trainings.html" data-toggle="dropdown">
                    Trainings
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="trainings.html">Competency Hub</a></li>
                        <li><a class="dropdown-item" href="trainings-list.html">Upcoming Trainings</a></li>
                        <li><a class="dropdown-item" href="online-trainings.html">Online Trainings</a></li>
                        <li><a class="dropdown-item" href="trainings-list.html">Past Trainings</a></li>
                        <li><a class="dropdown-item" href="trainings-partner.html">Partner Facilitators</a></li>
                        <li><a class="dropdown-item" href="trainings-member-stories.html">Testimonials</a></li>
                        <li><a class="dropdown-item" href="trainings-contact.html">Inquire</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">
                    Information
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="news-list.html">Newsletter</a></li>
                        <li><a class="dropdown-item" href="publications-list.html">Publications</a></li>
                        <li><a class="dropdown-item" href="news-list.html">Latest News</a></li>
                        <li><a class="dropdown-item" href="faq.html">FAQs</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</div>