
{% block sidebar %}
<div class="container">
    <div class="row">
        <div class="widget links">
            <ul class="list-group">
                <li class="list-group-item"><a href="about.html">About the ECCP</a></li>
                <li class="list-group-item"><a href="board-of-directors.html">Board of Directors</a></li>
                <li class="list-group-item"><a href="business-council.html">Business Council</a></li>
                <li class="list-group-item"><a href="eccp-team.html">Meet the ECCP Team</a></li>
                <li class="list-group-item"><a href="network.html">Network</a></li>
                <li class="list-group-item"><a href="contact-us.html">Contact Us</a></li>
            </ul> 
        </div> 
    </div>
</div>                
{% endblock %}