
{% block sidebar %}
<div class="container">
    <div class="row">
        <div class="widget news">
            <ul class="list-group">
                <li class="list-group-item"><p class="widget-heading my-0">Latest News</p></li>
                <li class="list-group-item">
                    <p class="news-date my-0">December 09,2020</p>
                    <h4 class="news-title">Leading Successful Coaching Partnerships</h4>
                    <p class="news-desc">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums... <a href="#">Read More</a></p>
                </li>
                <li class="list-group-item">
                    <p class="news-date my-0">December 09,2020</p>
                    <h4 class="news-title">Leading Successful Coaching Partnerships</h4>
                    <p class="news-desc">Curabitur vel purus vitae ante suscipit ullamcorper. Nunc accums... <a href="#">Read More</a></p>
                </li>
            </ul> 
        </div> 
    </div>
</div>                
{% endblock %}