
{% block sidebar %}
<div class="container">
    <div class="row">
        <div class="widget links">
            <ul class="list-group">
                <li class="list-group-item"><a href="news-list.html">Newsletters</a></li>
                <li class="list-group-item"><a href="publications-list.html">Publications</a></li>
                <li class="list-group-item"><a href="news-list.html">Latest News</a></li>
                <li class="list-group-item"><a href="faq.html">FAQs</a></li>
            </ul> 
        </div> 
    </div>
</div>                
{% endblock %}