
{% block sidebar %}
<div class="container">
    <div class="row">
        <div class="widget links">
            <ul class="list-group">
                <li class="list-group-item"><a href="membership.html">Member Benefits</a></li>
                <li class="list-group-item"><a href="membership-rates.html">Become a Member</a></li>
                <li class="list-group-item"><a href="annual.html">Annual Partners</a></li>
                <li class="list-group-item"><a href="member-stories.html">Member Stories</a></li>
                <li class="list-group-item"><a href="membership-directory.html">Membership Directory</a></li>
            </ul> 
        </div> 
    </div>
</div>                
{% endblock %}