
{% block sidebar %}
<div class="container">
    <div class="row">
        <div class="widget">
            <ul class="list-group">
                <li class="list-group-item" href="#"><p class="widget-heading my-0">Upcoming Trainings</p></li>
                <li class="list-group-item " href="#">
                    <div class="d-flex">
                        <div class="col-md-3 col-xs-2 widget-event-date m-1">
                            <h6 class="month p-0 m-0">DEC</h6>
                            <h3 class="date p-0 m-0">11</h3>
                        </div>
                        <div class="col-md-9 col-xs-10 p-0">
                            <p class="event-title align-middle">Leading Successful Coaching Partnerships</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item" href="#">
                    <div class="d-flex">
                        <div class="col-md-3 widget-event-date m-1">
                            <h6 class="month p-0 m-0">DEC</h6>
                            <h3 class="date p-0 m-0">11</h3>
                        </div>
                        <div class="col-md-9 p-0">
                            <p class="event-title align-middle">Tackling the Philippine Plastics Problem: ...</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item " href="#">
                    <div class="d-flex">
                        <div class="col-md-3 widget-event-date m-1">
                            <h6 class="month p-0 m-0">DEC</h6>
                            <h3 class="date p-0 m-0">11</h3>
                        </div>
                        <div class="col-md-9 p-0">
                            <p class="event-title align-middle">Currently in Real Estate: Philippines...</p>
                        </div>
                    </div>
                </li>
            </ul> 
        </div> 
    </div>
</div>                
{% endblock %}