
{% block sidebar %}
<div class="container">
    <div class="row">
        <div class="widget links">
            <ul class="list-group">
                <li class="list-group-item"><a href="about.html">About</a></li>
                <li class="list-group-item"><a href="#">Membership</a></li>
                <li class="list-group-item"><a href="">Business Council</a></li>
                <li class="list-group-item"><a href="">Advocacy</a></li>
                <li class="list-group-item"><a href="">Services</a></li>
                <li class="list-group-item"><a href="">Events</a></li>
                <li class="list-group-item"><a href="">Trainings</a></li>
                <li class="list-group-item"><a href="">Information</a></li>  
            </ul> 
        </div> 
    </div>
</div>                
{% endblock %}