<div class="pagination">
    <a href="#"><i class="fas fa-chevron-left"></i></a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <span>. . .</span>
    <a href="#">8</a>
    <a href="#">9</a>
    <a href="#"><i class="fas fa-chevron-right"></i></a>
</div>