
{% block sidebar %}
<div class="container">
    <div class="row">
        <div class="widget links">
            <ul class="list-group">
                <li class="list-group-item"><a href="services.html">Services</a></li>
                <li class="list-group-item"><a href="business-development.html">Business Development</a></li>
                <li class="list-group-item"><a href="support.html">Business & Technical Support</a></li>
            </ul> 
        </div> 
    </div>
</div>                
{% endblock %}