
{% block sidebar %}
<div class="container">
    <div class="row">
        <div class="widget links">
            <ul class="list-group">
                <li class="list-group-item"><a href="trainings.html">Competency Hub</a></li>
                <li class="list-group-item"><a href="trainings-list.html">Upcoming Trainings</a></li>
                <li class="list-group-item"><a href="online-trainings.html">Online Trainings</a></li>
                <li class="list-group-item"><a href="trainings-list.html">Past Trainings</a></li>
                <li class="list-group-item"><a href="trainings-partner.html">Partner Facilitators</a></li>
                <li class="list-group-item"><a href="trainings-member-stories.html">Testimonials</a></li>
                <li class="list-group-item"><a href="trainings-contact.html">Inquire</a></li>
            </ul> 
        </div> 
    </div>
</div>                
{% endblock %}