<div class="widget calendar">
    <div class="icalendar">
        <div class="icalendar__month">
            <div class="icalendar__prev" onclick="moveDate('prev')">
                <span>&#10094</span>
            </div>
            <div class="icalendar__current">
                <h2 id="icalendarMonth"></h2>
                <div class="d-none">
                    <div id="icalendarDateStr"></div>
                </div>
            </div>
            <div class="icalendar__next" onclick="moveDate('next')">
                <span>&#10095</span>
            </div>
        </div>
        <div class="icalendar__week-days">
            <!-- Localize names of the days of the week -->
            <div>S</div>
            <div>M</div>
            <div>T</div>
            <div>W</div>
            <div>T</div>
            <div>F</div>
            <div>S</div>
        </div>
        <div class="icalendar__days"></div>
    </div>
</div>