
{% block sidebar %}
<div class="container">
    <div class="row">
        <div class="widget links">
            <ul class="list-group">
                <li class="list-group-item"><a href="advocacy.html">Advocacy</a></li>
                <li class="list-group-item"><a href="committees.html">Committees</a></li>
                <li class="list-group-item"><a href="join-advocacy.html">Join Advocacy Committees</a></li>
            </ul> 
        </div> 
    </div>
    <div class="row">
        <button class="btn button-primary mb-4 w-100">Join Advocacy</button>
    </div>
</div>                
{% endblock %}